<!DOCTYPE html>
<html>
<head>
  <title>Agile Philosopher About</title>
</head>
    <body>
        <div class="page-header">
            <h1>About meh</h1>
        </div>

        <div class="btn-group btn-group-justified">
          <a href="/about?robby=yep" class="btn btn-primary">Are you Robby?</a>
          <a href="/about?robby=nope" class="btn btn-danger">Not Robby?</a>
        </div>
    </body>
</html>