<!DOCTYPE html>
<html>
<head>
  <title>Agile Philosopher Home</title>
</head>
    <body>
        <div class="page-header">
            <h1>sloths-R-us</h1>
        </div>

        <div id="myCarousel" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% @carousel_photos.each do%>
                    <% if @carousel_photo_counter == 0%>
                        <li data-target="#myCarousel" data-slide-to="@carousel_photo_counter" class="active"></li>
                    <% else %>
                        <li data-target="#myCarousel" data-slide-to="@carousel_photo_counter"></li>
                    <%end%>
                <%end%>
              </ol>

              <div class="carousel-inner" role="listbox">
                  <%@carousel_photos.each do |my_photo| %>
                    <% if @carousel_content_counter == 0 %>
                      <div class="item active">
                        <%= image_tag(my_photo, class:"img-responsive carousel_photo")%>
                      </div>
                    <% else %>
                        <div class="item">
                          <%= image_tag(my_photo, class:"img-responsive carousel_photo")%>
                        </div>
                    <%end%>
                    <% @carousel_content_counter = @carousel_content_counter+=1%>
                  <%end%>
              </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="page-header">
          <h1>Home</h1>
          <% if @robby == 'yep' %>
              <div class="image-round">
                <%image_tag('brace-yourself.jpg')%>
              </div>
          <%end%>
        </div>

        <div class="btn-group btn-group-justified">
          <a href="/?robby=yep" class="btn btn-primary">Are you Robby?</a>
          <a href="/?robby=nope" class="btn btn-danger">Not Robby?</a>
        </div>
    </body>
</html>