/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 */
body { padding-top: 70px }
.image-round { border-radius: 50% }
.image-shadow {
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}
.image-shrink {
    max-width: 100%;
    height: auto;
}
.profile_picture {
    width: 11%;
    height: auto;
    display: inline-block;
}
.jumbotron p {
    line-height: 1.4;
    display: block;
}
.jumbotron p#inline-block { display: inline-block; clear:both; }
.jumbotron h1#inline-block { display: inline-block; }

.carousel_photo{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}